.N {
    transform: rotate(-45deg);
}

.NE {
    transform: none;   
}

.E {
    transform: rotate(45deg);
}

.SE {
    transform: rotate(90deg);
}

.S {
    transform: rotate(135deg);
}

.SW {
    transform: rotate(180deg);
}

.W {
    transform: rotate(225deg);
}

.NW {
    transform: rotate(270deg);
}