.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// top half (simulation table)
.blockTable {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 750px;
}

// bottom half of page
.blockActions {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 215px;
}

// left column of .blockActions
.colAction {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 3%;
}

// right column of .blockActions
.colReport {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 3%;
}

.reportHeader {
    width: 70%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.reportValues {
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2%;
}

.button {
    width: 85%;
}

